* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: radial-gradient(circle at top left, #d8dee8 30%, #c2ccdb);
}
:root {
  --g-size: 1.6vw;
  --g-gap: calc(var(--g-size) / 2);
  --layout-60: calc(calc(var(--g-size) * 30) + calc(var(--g-gap) * 29));
  --layout-80: calc(calc(var(--g-size) * 6) + calc(var(--g-gap) * 5));
  --box-shadow1: -0.3vw -0.3vw 0.95vw #f3f5f8;
  --box-shadow2: 0.3vw 0.3vw 0.6vw #c2ccdb;
}

.keyboard {
  display: grid;
  grid-template-columns: var(--layout-60) var(--layout-80);
  /* grid-template-rows: repeat(6, calc(var(--g-size) * 2.5)); */
  grid-gap: calc(var(--g-gap) * 2);
  background: #d8dee8;
  padding: calc(var(--g-size) / 1.1);
  border-radius: calc(var(--g-size) / 1.5);
  box-shadow: var(--box-shadow1), var(--box-shadow2);

  .layout-60 {
    display: grid;
    grid-template-columns: repeat(30, var(--g-size));
    grid-template-rows: repeat(6, calc(var(--g-size) * 2.5));
    grid-gap: var(--g-gap);
  }

  .layout-80 {
    display: grid;
    grid-template-columns: repeat(6, var(--g-size));
    grid-template-rows: repeat(6, calc(var(--g-size) * 2.5));
    grid-gap: var(--g-gap);
  }

  .key {
    border-radius: calc(var(--g-size) / 2.5);
    grid-column: auto / span 2;
    width: 100%;
    height: 100%;
    padding: calc(var(--g-size) / 4);
    font-size: var(--g-size);
    display: grid;
    align-items: center;
    color: #8a94a4;
    justify-content: center;
    cursor: pointer;
    background: #d8dee8;
    transition: all 100ms cubic-bezier(0.09, 0.32, 0.34, 2);
    box-shadow: var(--box-shadow1), var(--box-shadow2);
    user-select: none;
    &:hover {
      transform: perspective(300px) scale(0.97);
      box-shadow: inset var(--box-shadow1), inset var(--box-shadow2);
      color: #fff;
      text-shadow: 0 0 10px #f7f9fa, 0 0 15px #f7f9fa, 0 0 20px #f7f9fa;
    }

    &.s2 {
      grid-column: auto / span 2;
      /* font-size: calc(var(--g-size) / 1.1); */
    }
    &.s3 {
      grid-column: auto / span 3;
    }
    &.s4 {
      grid-column: auto / span 4;
    }
    &.s5 {
      grid-column: auto / span 5;
    }
    &.s6 {
      grid-column: auto / span 6;
    }
    &.s12 {
      grid-column: auto / span 12;
    }

    &.onShift {
      font-size: calc((var(--g-size) / 1.3));
      justify-items: center;
      &::before {
        content: attr(data-content);
        align-items: end;
      }
    }
    &.dotted {
      position: relative;
      &::before {
        content: '_';
        font-weight: bold;
        color: #b5c0d2;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.blank {
      background: transparent;
      box-shadow: none;
      cursor: default;
      &:hover {
        transform: none;
        box-shadow: none;
        color: #8a94a4;
        text-shadow: none;
      }
    }
  }
}
